@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-2xl: 72rem;
  --container-7xl: 80rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .size-2\.5 {
    width: 0.625rem;
    height: 0.625rem;
  }
  .size-5 {
    width: 1.25rem;
    height: 1.25rem;
  }
  .bg-linear-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
  }
  .bg-linear-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
}
